<section id="gallery" class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/2.jpg);">
<div class="wrapsection">
	<div class="parallax-overlay" style="background-color:#00c1c1;opacity:0.9;"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 sol-sm-12">
				<div class="maintitle">
					<h3 class="section-title">PORTFOLIO</h3>
					<p class="lead wow flipInX">
						Have a look at my game projects and others stuffs.
					</p>
				</div>
			</div>

      <div class="col-md-4">
        <a href="/assets/img/telamenu.jpg" title="This is the">
          <!-- <img src="https://ununsplash.imgix.net/photo-1429277158984-614d155e0017?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive"> -->
          <img src="/assets/img/telamenu.jpg" alt="" class="image-responsive">
          <div class="description">
            <span class="caption">Calculo de <b>Aventura</b></span>
            <span class="camera"><i class="fa fa-gamepad"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
			<div class="col-md-4">
				<a href="/assets/img/teamwork.png" title="This is the">
				<!-- <img src="https://unsplash.imgix.net/uploads/14115408840644deb16b0/2dc933e3?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive"> -->
				<img src="/assets/img/teamwork.png" alt="" class="image-responsive">
					<div class="description">
						<span class="caption">PLACE<b>HOLDER</b></span>
						<span class="camera"><i class="fa fa-gamepad"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a target="_blank" href="http://www.ludsgame.com.br/">
				<!-- <img src="https://ununsplash.imgix.net/photo-1429277096327-11ee3b761c93?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive"> -->
				<img src="/assets/img/ludsgame.jpg" alt="" class="image-responsive">
				<div class="description">
					<span class="caption">Vale das <b>Maçãs</b></span>
					<span class="camera"><i class="fa fa-gamepad"></i></span>
					<div class="clearfix"></div>
				</div>
				</a>
			</div>

		</div>
	</div>
</div>
</section>
{{outlet}}
